:root {
    --title: 'Teko', sans-serif;
    --text: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, h7 {
    font-family: var(--title);
    margin: 0 0 10px;
}
h1 {
    font-size: 60px !important;
    line-height: .7 !important;
}
h2 {
    font-size: 56px !important;
}
h3 {
    font-size: 48px !important;
}
h4 {
    font-size: 42px !important;
}
h5 {
    font-size: 38px !important;
}
h6 {
    font-size: 32px !important;
    line-height: 1;
    margin-bottom: 0;
}
h7 {
    font-size: 24px !important;
    line-height: 1;
}
p, ul, a{
    font-size: 18px !important;
    font-family: var(--text);
    margin: 0 0 20px;
}
.align-left {
    text-align: left;
}    
.align-center{
    text-align: center;
}

.red-dark {
    color: var(--theme-primary-dark);
}
.red-light {
    color: var(--theme-primary-light);
}