/*********************************************/
/*             MASTER STYLESHEET             */
/*********************************************/

:root {
    /* base color scheme */
    --theme-blackest: #181818;
    --theme-blacker: #242424;
    --theme-black: #343434;
    --theme-darkest-gray: #4F4F4F;
    --theme-dark-gray: #666666;
    --theme-light-gray: #848484;
    --theme-lightest-gray: #9D9D9D;
    --theme-white: #B6B6B6;
    --theme-whiter: #CECECE;
    --theme-whitest: #E2E2E2;
  
      /* accent/action colors */
    --theme-primary-dark: #800000;
    --theme-primary-light: #cc0000;
    --theme-secondary: #d18018;
    --theme-warning-dark: #6b2727;
    --theme-warning-light: #d54040;
    --theme-confirm: #0099ff;
    --theme-success: #155d26;
  
    --btn-transparency: 0.8;
  }

  #app {
    background-color: #0d0d0d;
    min-height: 50vw;
    width: 100vw;
  }

  .coming-soon {
    color: var(--theme-black);
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }


  .fade-in{
    opacity: 1;
  animation-name: fadeInBODY;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  }

  @keyframes fadeInBODY {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vw;
    background-color: #0d0d0d;
    color: var(--theme-primary-dark);
  }

  html {
    background-color: #0d0d0d;
  }

  .soundcloud-player {
    width: 50%;
  }

  .sticky {
    position: relative;
    position: sticky;
    top: 0;
  }

  @media screen and (max-width: 768px){
    .sticky {
      position: relative;
    }
  }

  /* fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row.cta{
  background: rgba(175, 0, 0, 0.15);
  margin: 0 10% !important;
  color: var(--theme-white);
  justify-content: center;
  padding: 40px;
  border: 1px solid var(--theme-primary-dark);
  flex-direction: unset !important;
  text-align: center;
}

.row.cta > p:last-child{
  margin-bottom: 0;
}

.cta .cta-btn {
  margin-top: 20px;
  margin-bottom: 0;
  background: var(--theme-blackest);
  color: var(--theme-white) !important;
  border: 1px solid var(--theme-primary-dark);
  padding: 10px 30px;
  max-width: 250px !important;
  text-transform: uppercase;
  opacity: 0.7;
  font-weight: bolder;
  transition: 0.2s;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}
.cta .cta-btn:hover {
  background: #000000;
  color: var(--theme-whitest) !important;
  border: 1px solid var(--theme-primary-light);
  opacity: 1;
}

  input.form-control {
    background-color: var(--theme-blackest);
    color: var(--theme-whiter);
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
  
  textarea.form-control {
    background-color: var(--theme-blackest);
    color: var(--theme-whiter);
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
  
  textarea.form-control:focus {
    background-color: var(--theme-blackest);
    color: var(--theme-whiter);
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 0.25rem var(--theme-primary-dark);
  }
  
  input.form-control:focus {
    background-color: var(--theme-blackest);
    color: var(--theme-whiter);
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 0.25rem var(--theme-primary-dark);
  }
  
  input.form-control:disabled {
    background: var(--theme-blackest);
    cursor: not-allowed;
  }
  
  input.form-control.form-error {
    border: 1px solid var(--theme-warning-dark);
  }
  
  input.form-control.form-error:focus {
    box-shadow: none;
  }
  
  .form-error-text {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    display: inline-block;
  }
  
  select.theme-secondary {
    background-color: var(--theme-secondary);
    border-color: var(--theme-secondary);
    color: var(--theme-blackest);
    font-weight: 500;
    text-overflow: hidden;
    border: var(--theme-blackest) 1pt bold;
  }
  
  select.theme-primary {
    background-color: var(--theme-primary-dark);
    border-color: var(--theme-primary-dark);
    color: var(--theme-white);
    font-weight: 500;
    text-overflow: hidden;
    border: var(--theme-blackest) 1pt bold;
  }
  
  select.form-control:focus {
    background-color: var(--theme-blacker);
    color: var(--theme-whiter);
    border-color: rgba(0, 0, 0, 0.25);
  }

.form-control::placeholder {
    color: var(--theme-warning-dark) !important;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--theme-whiter);
    background-color: var(--theme-blackest);
    color: var(--theme-whiter);
    border-color: rgba(0, 0, 0, 0.25);
    caret-color: var(--theme-white);
  } 
  
  input.form-control:-internal-autofill-selected {
    background-color: var(--theme-blackest) !important;
  }
  
  @media only screen and (max-width:  500px) {
    .soundcloud-player {
      width: 90%;
    }
}

.plant .modal-xl{
  max-width: 100% !important;
}
.plant.modal-dialog-centered{
  display: block !important;
  min-height: 100vw;
  max-height: 100vw;
}

.modal-header {
  flex-direction: column;
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  background-color: var(--theme-blackest);
  border-bottom: 1pt solid var(--theme-primary-light) !important;
  position: sticky;
  top: 0;
  z-index: 50;
}
.modal-header h1 {
  line-height: 1 !important;
}
.modal-title {
  line-height: .9 !important;
}

.modal-body{
  background-color: var(--theme-blackest);
  padding: 20px 60px !important;
}

.plant .modal-content {
  overflow: scroll !important;
}

@media screen and (max-width: 768px){
  .modal-body{
    padding: 20px !important;
  }
}

.modal-footer {
  justify-content: center !important;
  background-color: var(--theme-blackest);
  border-top: 1px solid var(--theme-primary-light) !important;
  color: var(--theme-dark-gray);
}

.modal-footer a{
  color: var(--theme-primary-dark) !important;
}

button.btn-close{
  background-color: var(--theme-primary-light);
}
.modal-header button.btn-close{
  padding: 0.25rem;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.25;
  position: absolute;
  left: 10px;
  top: 10px;
}
.modal-header button.btn-close:hover{
  opacity: 0.55;
}

.g-background-default {
  background-color: pink;
}
.sc-background-white{
  background-color: aqua;
}
.sc-list-nostyle {
  background-color: orange;
}
.footer-links {
  font-size: 10px; 
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;
  text-align: center;
  padding-top: 12px;
}

.modal-title{
  color: var(--theme-primary-dark);
  line-height: 1.5 !important;
}

.modal-footer .fas {
  vertical-align: bottom;
  margin-left: 10px;
  font-weight: 900;
  background: var(--theme-primary-dark);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  color: #000;
  border: 0;
  border-radius: .25rem;
  opacity: 0.9;
}
.modal-footer .fas:hover {
  background: var(--theme-primary-light);
  opacity: 0.9;
  cursor: pointer;
}

.tab-content .content img{
  border-top: none;
  border-bottom: none;
  padding:0;
  margin: 60px auto;
  display:block;
  opacity: 0.75;
}
.info-row{
  margin: 60px 0;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid var(--theme-light-gray);
  border-bottom: 1px solid var(--theme-light-gray);
}
section{
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--theme-light-gray);
}
.info-row .row > .col:nth-child(2),
.info-row .row > .col:nth-child(3){
  border-left: 1px solid var(--theme-blacker);
  border-right: 1px solid var(--theme-blacker);
}
.info-row .row > .col:nth-child(2){
  border-right: none;
}
.info-row i{
  font-size: 48px;
  opacity: 0.75;
}
.info-row p{
  font-size: 14px !important;
}

.info-row .location{
  color: var(--theme-primary-dark);
}
.info-row .light{
  color: #e6b800;
}
.info-row .water{
  color: #003399;
}
.info-row .temperature{
  color: var(--theme-secondary);
}
.info-row .col h4{
  margin: 30px 0 15px;
  color: var(--theme-whitest);
  line-height: 1;
}
.info-row .col p {
  text-align: center;
}
.info-icon{
  position: absolute;
  top: -45px;
  font-size: 55px;
}
.info-row .col{
  opacity: 0.65;
}
.info-row .col:hover{
  opacity: 1;
}

.info-icon i{
  background: var(--theme-primary-dark);
  color: var(--theme-blackest);
  border-radius: 50%;
}

