
#navbar{
    position: sticky;
    top: 0;
}

.nav {
    background-color: #000000;
    border-bottom:3px solid var(--theme-primary-dark);
    padding: 20px 0;
}
.nav a,
.nav-link {
    margin: 0 10px;
}
#navbar a.router-link-exact-active{
    color: var(--theme-primary-light);
    border-bottom: 1px solid var(--theme-primary-dark);
}
.nav-item .nav-link.disabled{
    color:var(--theme-darkest-gray);
    opacity: 0.5;
}
ul.nav a:hover,
.dropdown .nav-link:hover,
.nav-link.active, 
.dropdown,
.dropdown .btn,
.dropdown .btn:hover,
.dropdown .btn:active,
.dropdown .btn:focus,
.dropdown-menu .dropdown-item,
.container .dropdown .dropdown-menu a:hover
{
    color: var(--theme-primary-light);
}
.dropdown .dropdown-menu a{
    color: var(--theme-whiter);
    min-width: 250px;
}
.dropdown-menu a:hover {
    color: var(--theme-primary-light) !important;
    font-weight: 500;
}
.nav a,
.dropdown .nav-link,
.dropdown .nav-link:focus{
    color: var(--theme-primary-dark);
}
.dropdown-menu .dropdown-item:hover {
    background: var(--theme-black);
}
.nav-item .dropdown-menu {
    background-color: var(--theme-blacker);
}

#navbar .top-banner {
    background: linear-gradient(to bottom, #000000 0%, #800000 250%);
    padding: 10px 0;
    position: relative;
display: flex;
justify-items: center;
align-content: center;
justify-content: center;
}

#navbar .top-banner img {
    position: relative;
    top: 20px;
}

#navbar .top-banner a.router-link-exact-active {
    border: none;
}

.dropdown-menu a.router-link-exact-active {
    background-color: #000000;
    border: none !important;
}

.dropdown-menu a.router-link-exact-active:hover {
    cursor: default;
}