/*********************************************/
/*             MASTER STYLESHEET             */
/*********************************************/

:root {
    /* base color scheme */
    --theme-blackest: #181818;
    --theme-blacker: #242424;
    --theme-black: #343434;
    --theme-darkest-gray: #4F4F4F;
    --theme-dark-gray: #666666;
    --theme-light-gray: #848484;
    --theme-lightest-gray: #9D9D9D;
    --theme-white: #B6B6B6;
    --theme-whiter: #CECECE;
    --theme-whitest: #E2E2E2;
  
      /* accent/action colors */
    --theme-primary-dark: #800000;
    --theme-primary-light: #cc0000;
    --theme-secondary: #d18018;
    --theme-warning-dark: #6b2727;
    --theme-warning-light: #d54040;
    --theme-confirm: #0099ff;
    --theme-success: #155d26;
  
    --btn-transparency: 0.8;
  }

  #app {
    background-color: #0d0d0d;
    min-height: 50vw;
    width: 100vw;
  }

  .coming-soon {
    color: var(--theme-black);
  }

  #body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vw;
    background-color: #0d0d0d;
    color: var(--theme-primary-dark);
  }

  html {
    background-color: #0d0d0d;
  }

  #music-body {
    margin-top: 80px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #0d0d0d;
    color: var(--theme-primary-dark);
  }

  .soundcloud-player {
    width: 50%;
  }

  .sticky {
    position: relative;
    position: sticky;
    top: 0;
  }

  #about-body .sidebar {
    border-left: 3px solid var(--theme-primary-dark);
    border-bottom: 3px solid var(--theme-primary-dark);
    border-right: 3px solid var(--theme-primary-dark);
    height: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  #about-body .content {
    padding: 60px;
  }

  #about-body .content h1 {
    font-size: 80px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--theme-black );
    color: var(--theme-lightest-gray);
    margin-bottom: 20px;
  }

  #about-body .content p {
    color: var(--theme-dark-gray);
  }

  #about-body .content .red {
    color: var(--theme-primary-light);
  }

  #about-body .content p > span.red:first-child {
    padding-right: 15px;
  }

  #about-body .content p > span.red:last-child {
    padding-left: 15px;
  }

  #about-body .sidebar img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--theme-primary-dark);
    margin-bottom: 20px;
  }

  #about-body .sidebar h3{
    color: var(--theme-lightest-gray);
    margin-bottom: 0;
  }

  #about-body .job-title {
    color: var(--theme-primary-light);
    opacity: .8;
  }

  #about-body .personal-details {
    margin: 20px 0;
  }

  #about-body .content .section {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--theme-black );
    margin-bottom: 40px;
  }

  @media only screen and (max-width:  500px) {
    .soundcloud-player {
      width: 90%;
    }
}

