/*********************************************/
/*             MASTER STYLESHEET             */
/*********************************************/

:root {
    /* base color scheme */
    --theme-blackest: #181818;
    --theme-blacker: #242424;
    --theme-black: #343434;
    --theme-darkest-gray: #4F4F4F;
    --theme-dark-gray: #666666;
    --theme-light-gray: #848484;
    --theme-lightest-gray: #9D9D9D;
    --theme-white: #B6B6B6;
    --theme-whiter: #CECECE;
    --theme-whitest: #E2E2E2;
  
      /* accent/action colors */
    --theme-primary-dark: #800000;
    --theme-primary-light: #cc0000;
    --theme-secondary: #d18018;
    --theme-warning-dark: #6b2727;
    --theme-warning-light: #d54040;
    --theme-confirm: #0099ff;
    --theme-success: #155d26;
  
    --btn-transparency: 0.8;
  }

  #app {
    background-color: #0d0d0d;
    min-height: 50vw;
    width: 100vw;
  }

  .coming-soon {
    color: var(--theme-black);
  }

  #body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vw;
    background-color: #0d0d0d;
    color: var(--theme-primary-dark);
  }

  html {
    background-color: #0d0d0d;
  }

  #music-body {
    margin-top: 80px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #0d0d0d;
    color: var(--theme-primary-dark);
  }